[submodule "WebSharedComponents"]
	path = WebSharedComponents
	url = git@github.com:OpenMagnetics/WebSharedComponents.git
[submodule "MagneticBuilder"]
	path = MagneticBuilder
	url = git@github.com:OpenMagnetics/MagneticBuilderApp.git